{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hmmm... something went wrong</h1>

    <p>
        Something we did made a server error. It's probably Colin's rubbish programming.
        Try again and if it continues to happen please let us know! <a href="/">Return to the homepage</a>.
    </p>
{% endblock %}
