{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Hmmmm...Page not found</h1>
        </div>

        <div class="row">
            <p>
                We've got lost somehow and the requested page couldn't be located. Check for any URL
                misspelling or <a href="/">return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}
