LICENSE
README.md
config.php
/code/web/bundles/
/code/var/bootstrap.php.cache
/code/var/cache/*
/code/app/config/parameters.yml
/code/var/logs/*
!/code/var/cache/.gitkeep
!/code/var/logs/.gitkeep
/code/app/phpunit.xml
/code/build/
/code/vendor/
node_modules
code/web/*/compiled
!code/web/*/compiled/.gitkeep
.idea
code/web/vendor
code/web/images
code/web/css
code/web/fonts
code/tests/_support/_generated
