{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Contact Us!</h1>
    <div class="container">
        <p class="text-center">We have done our best to provide lots of information via email and on this site.
            However, we're also pretty sure we've missed things. If you have any questions about the day or any of the
            arrangements, please don't hesitate to get in touch via email to
            <a href="mailto:{{ email }}">{{ email }}</a></p>
    </div>

{% endblock %}
