{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Photos From the Day</h1>
    <div class="container">
        <iframe class="center-block photo-frame" src="http://albumizr.com/a/CoZZ" scrolling="no" frameborder="0"
                allowfullscreen></iframe>
    </div>
{% endblock %}
