{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Thankyou!</h1>
    <div class="container">
        <p class="text-center">We have received your RSVP, thank you very much for responding</p>
    </div>
{% endblock %}
