{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                {% image '@AppBundle/Resources/images/missenden3.jpg' %}
                <img class="center-block" src="{{ asset_url }}" alt="Missenden Abbey">
                {% endimage %}
            </div>
        </div>
        <h1 class="text-center">Missenden Abbey</h1>
        <p>Missenden abbey itself is a conference centre and has a good number of basic but very functional rooms on
            site. We'll be staying here and would love you to join us for breakfast in the morning</p>
        <p>We have a number of rooms allocated to us and on the RSVP page of this site (requires login) there is the
            option to reserve a room.</p>
    </div>
{% endblock %}
