{% extends 'base.html.twig' %}

{% block body %}
    <div id="loginpane" class="container">
        <h1>Welcome Guest</h1>
        <p>You can sign in here to find out more information and rsvp!</p>

        <form class="form-inline">
            <input name="email" type="text" class="input-small" placeholder="Email">
            <input name="password" type="password" class="input-small" placeholder="Password">
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
{% endblock %}
