{% extends 'base.html.twig' %}

{% block body %}
    <div id="locationcontainer" class="container">
        <div class="row">
            <div class="col-lg-12">
                {% image '@AppBundle/Resources/images/missenden1.jpg' %}
                <img class="center-block" src="{{ asset_url }}" alt="Missenden Abbey">
                {% endimage %}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">We will be getting married at the wonderful <a
                            href="http://missendenabbey.co.uk/">Missenden Abbey</a> in
                    Buckinghamshire</p>
                <p class="text-center">The full address is: <br/>
                    Missenden Abbey<br/>
                    London Rd<br/>
                    Great Missenden<br/>
                    HP16 0BD<br/>
                </p>
                <h1 class="text-center">By Car</h1>
                <p class="text-center">There is plenty of parking on site for those of you who are driving. We recommend
                using the google maps link below for specific directions</p>
                <h1 class="text-center">By Train</h1>
                <p class="text-center">The station in Great Missenden is about a 10 minute walk from the venue. There
                    are regular trains out of London Marylebone.</p>
            </div>
            <div class="col-lg-12">
                <iframe class="center-block"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2472.7789371305157!2d-0.706299384204801!3d51.70049037966728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48765e37af9b35b1%3A0xa94510fbdfd13152!2sMissenden+Abbey+Conference+Centre!5e0!3m2!1sen!2suk!4v1472507318013"
                        width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
