Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-west-2-372461162014"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  /var/app/current/app/config/parameters.yml: # This is where the file will be copied on the EC2 instances
    mode: "000400"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-372461162014/melanieandcolin_configs/parameters.yml.prod
