container_commands:
    300-run-composer:
        command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
    400-clear-cache:
        command: "php bin/console cache:clear --env=prod"
    550-dump-assets:
        command: "php bin/console assetic:dump --env=prod"
    700-remove-dev-app:
        command: "rm web/app_dev.php"
    800-make-logs-writeable:
        command: "touch /var/app/ondeck/var/logs/prod.log && chown 744 /var/app/ondeck/var/logs/prod.log"
    900-update-cache:
        command: "source .ebextensions/bin/update-cache.sh"

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
