container_commands:
    300-run-composer:
        command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
    400-clear-cache:
        command: "php code/bin/console cache:clear --env=prod"
    550-dump-assets:
        command: "php code/bin/console assetic:dump --env=prod"
    700-remove-dev-app:
        command: "rm web/app_dev.php"
    900-update-cache:
        command: "source .ebextensions/bin/update-cache.sh"
