{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <p class="lead">Welcome Guest!</p>
            <p>You can sign in here to RSVP and view further wedding details</p>
        </div>

        <div class="foscontent">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
