# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:    pdo_mysql
    database_host:      '%env(DATABASE_HOST)%'
    env(DATABASE_HOST): 127.0.0.1
    database_port:      3306
    database_name:      '%env(DATABASE_NAME)%'
    env(DATABASE_NAME): weddingsite
    database_user:      '%env(DATABASE_USER)%'
    env(DATABASE_USER): root
    database_password:  '%env(DATABASE_PASSWORD)%'
    env(DATABASE_PASSWORD): ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_auth_mode: null
    mailer_port: 25
    mailer_encryption: null
    mailer_user: null
    mailer_password: null

    # A secret key that's used to generate certain security-related tokens
    secret:            '%env(SYMFONY_SECRET)%'
    env(SYMFONY_SECRET): ADefaultSecretGoesHereButCanBeOveriddenByEnvironment

    # An email address to insert in the contact us page
    email_address: '%env(EMAIL_ADDRESS)%'
    env(EMAIL_ADDRESS): insert@youremail.here
